.card {
    width: 400px;
}
md-card > md-toolbar {
    margin: -24px 0 24px -24px;
    width: calc(100% + 48px);
}

.cardheader {
    background: blue;
    margin: -24px 0 24px -24px;
    width: calc(100% + 48px);
}
