@import '~@angular/material/core/theming/all-theme';
@import 'toaster';

@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-orange: (
        50 : #fef0ef,
        100 : #fcdbd6,
        200 : #fac3bb,
        300 : #f7aa9f,
        400 : #f6988b,
        500 : #f48676,
        600 : #f37e6e,
        700 : #f17363,
        800 : #ef6959,
        900 : #ec5646,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffdeda,
        A700 : #ffc6c1,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-blue: (
        50 : #e2e5e9,
        100 : #b6bec7,
        200 : #8593a2,
        300 : #54677d,
        400 : #2f4761,
        500 : #0a2645,
        600 : #09223e,
        700 : #071c36,
        800 : #05172e,
        900 : #030d1f,
        A100 : #5c89ff,
        A200 : #2964ff,
        A400 : #0044f5,
        A700 : #003ddb,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);


// mandatory stuff for theming
$webo-primary: mat-palette($md-orange);
$webo-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webo-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$webo-theme: mat-light-theme($webo-primary, $webo-accent, $webo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($webo-theme);