.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgba(42, 58, 91, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgb(68, 84, 117) 0%, rgba(42, 58, 91, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgb(68, 84, 117)), color-stop(100%, rgba(42, 58, 91, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgb(68, 84, 117) 0%, rgba(42, 58, 91, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgb(68, 84, 117) 0%, rgba(42, 58, 91, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgb(68, 84, 117) 0%, rgba(42, 58, 91, 1) 100%);
    background: radial-gradient(ellipse at center, rgb(68, 84, 117) 0%, rgba(42, 58, 91, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203de3', endColorstr='#0a2645', GradientType=1 );
    color: white;
    font-family: "Ubuntu", sans-serif;
}
