<img src="../../assets/logov6.png" id="logo" width=20% height=auto/>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<h1>
  <md-toolbar color="primary">
    <span>Webonetics</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="doLogin()">
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>create</md-icon>
        <span>Create Account</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
  </md-toolbar>
</h1>
<div md-theme="purple">
  <button md-icon-button (click)="test()">
  <md-icon>contacts</md-icon> Test
</button>
</div>
